.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* #region small */

@media screen and (max-width:420px) {

  /* #region Commons */
  body {
    background-color: rgb(238, 238, 169);
    font-weight: 500;
  }

  h1 {
    margin: 0 0 1rem 0;
    font-size: 26px;
  }

  h3 {
    margin: 0;
  }

  img {
    height: 100px;
  }

  .container {
    width: 100%;
  }

  .container.grey {
    height: 550px;
  }

  div.left, div.right, div.central {
    width: 100%;
  }
  
  .row {
    width: 100%;
    margin-top: 20px;
  }

  /* #endregion Commons */

  /* #region Lezioni */

  .left, .right {
    height: 160px;
    margin: 0 1rem;
  }

  .row>.left, .row>.central, .row>.right{
    font-size: 13px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: left;
  }

  .left, .right {
  margin: 0;
  }

 /* #endregion Lezioni */

  /* #region Steps */

 #steps {
  background-color: #f9f9f9;
  width: 100%;
 } 

 #steps .row>.left,
 #steps .row>.central,
 #steps .row>.right {
  float: left;
  width: 100%;
 }

  /* #endregion Steps */

  /* #region Why */
  
  #why {
    height: 600px;
    background-color: transparent;
  }

  #why .row>.first,
  #why .row>.second {
    margin-top: 0px;
    font-size: 13px;
    height: 170px;
  }

  #why .row>.third {
    margin-top: 30px;
    font-size: 13px;
    height: 170px;
  }

  #why hr {
    border: 1px solid black;
  }

  #why h1 {
    margin-bottom: 0;
  }


  .first>img,
  .second>img,
  .third>img {
   height: 42px;
  }
  
  /* #endregion Why */


}

/* #endregion small */



